[2017-12-12 07:22] Invictum opened #1 "Pending tests and steps support"
Add support for Serenity's @Pending annotation for tests and steps.

[2017-12-12 14:09] Invictum commented on #1
Should be available in release 1.0.1

[2017-12-12 14:09] #1 closed

[2017-12-29 09:02] Invictum opened #3 "Extend entities details"
Add details to created entities in Report Portal
 - description (provided by Serenity narrative)
 - tags (provided by Serenity tags facility)

[2017-12-29 10:07] Invictum commented on #3
Implemented. Will be available in version 1.0.5

[2017-12-29 10:07] #3 closed

[2018-01-10 17:21] ruzeynalov opened #5 "Error Type: FINISH_LAUNCH_NOT_ALLOWED"
I have detected following issue with serenity-reportportal-integration plugin

I've added version 1.05 as dependency to sample project provide by Serenity Team (integration with cucumber https://github.com/serenity-bdd/serenity-demos/tree/master/cucumber-webtests )

Whenever I run test with valid report portal credentials (username, uuid and etc.) my result's are uploaded to report portal UI (host

[2018-01-11 08:21] Invictum commented on #5
@ruzeynalov
Thank you for rising an issue.
Could you specify more details about Serenity modules versions used? Demo project based on really old versions of Serenity modules.

[2018-01-11 08:26] ruzeynalov commented on #5
@Invictum

Oh it seems I forgot to mention in my original bug report - I have reproduced this issue using latest serenity dependencies  for serenity-core, serenity-maven plugin, etc.(1.8 .20)  + latest serenity-cucumber (1.6.10)

[2018-01-11 08:40] Invictum commented on #5
@ruzeynalov
Could you share a pom.xml for demo project?

[2018-01-11 08:57] ruzeynalov commented on #5
Yes, please find it below

`
<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>

    <groupId>net.serenity-bdd.demos</groupId>
    <artifactId>cucumber-webtest

[2018-01-11 09:23] Invictum commented on #5
@ruzeynalov
Thank you, I will try to investigate it.

[2018-01-11 10:06] Invictum commented on #5
@ruzeynalov
There is an issue with `maven-failsafe-plugin` 2.18 version. It causes an issue in integration flow.
Fortunately, issue was fixed in `maven-failsafe-plugin` version above 2.19.1.

So, feel free to use latests failsafe plugin version.

[2018-01-11 10:14] ruzeynalov commented on #5
Thanks a lot for investigation. The suggested upgrade to maven-failsafe-plugin 2.19.1 fixed issue

[2018-01-11 10:14] #5 closed

[2018-03-30 06:38] Invictum opened #6 "Update Serenity core to latest version"
No special description provided.

[2018-03-30 06:44] Invictum opened #7 "Add support for Report Portal v4"
PR v4 has been released. Integration should support specified RP version.
Following points should be provided here:
 - update RP client to v4
 - make sure integration is ok, provide fix if necessary

[2018-04-03 16:01] Invictum commented on #6
Implemented. Will be available on version 1.1.0

[2018-04-03 16:01] #6 closed

[2018-04-04 19:05] sirgen opened #10 "Finish launch is not allowed."
Hi Iaroslav,

I've tried to use your plugin but got exception.
RP 4.1.0
Serenity BDD 1.9.4.
serenity-reportportal-integration 1.1.0
**maven-failsafe-plugin 2.19.1**

if time will try to reproduce within non prod project.

Could you please help me with it?

io.reactivex.exceptions.OnErrorNotImplementedException: Report Portal returned error
Status code: 406
Status message: Not Acceptable
Error Mess

[2018-04-05 15:34] Invictum commented on #10
@sirgen
I've rechecked latest integration release on my test project and unable to reproduce an issue.
To find a root cause I need a more details:
 - what Serenity approach are you use? (jbejave, junut, etc.)
 - please provide a simple project that reproduces this issue.

Thanks in advance

[2018-04-18 09:05] Invictum opened #11 "Ability to format narrative text"
For now narrative text format logic is hardcoded.
Let's move it to separate class with ability to customize from end user perspective.

[2018-04-21 18:16] Invictum commented on #11
Implemented. Will be available on version 1.1.1

[2018-04-21 18:16] #11 closed

[2018-04-21 18:24] Invictum opened #13 "Update underlying libraries to latest versions"
To keep integration works normally `serenity-core` and `*.report.portal` modules should use latest versions.

[2018-04-21 18:45] Invictum commented on #13
Implemented. Will be available in version 1.1.1

[2018-04-21 18:45] #13 closed

[2018-05-20 11:30] sirgen commented on #10
Hi @AliaksandrNovik , thank you.

[2018-05-20 11:30] #10 closed

[2018-05-20 14:05] Invictum commented on #10
@AliaksandrNovik @sirgen
Than you for clarification guys. I will update documentation with it.

[2018-05-24 14:58] Invictum opened #15 "Improve step sets profile"
For now only two profiles are present - default and custom.
From functional perspective default profile contains all available step processors, as a result RP log is to verbosed.
The idea is to add another one profile with minimal configuration that will produce a nice RP log.

An addition profiles will be renamed:
- Custom -> Custom (no changes)
- Default -> Full
- Default (minimal configuration)

[2018-05-25 14:07] Invictum commented on #15
Implemented. Will be available in 1.1.2

[2018-05-25 14:07] #15 closed

[2018-05-25 14:08] Invictum opened #17 "Implement ability to define different test data storing strategy"

[2018-05-25 14:22] Invictum commented on #17
Implemented. Will be available on version 1.1.2

[2018-05-25 14:22] #17 closed

[2018-06-19 15:18] Invictum opened #20 "Ability to push Selenium logs to Report Portal"
Web driver allows to collect its logs with `driver.manage().logs()`.
Potentially this logs could be useful. Let's add ability to push them to Report Portal.

[2018-06-21 13:00] Invictum opened #22 "Error messages and screenshots are absent for TREE style reporting"
Actually steps processors are not invoked at all for TREE style reporting

[2018-06-21 13:02] Invictum opened #23 "Create StepsSetProfile for TREE style reporting"
TREE style reporting looks bad with default `StepsSetProfile`. Let's implement separate profile optimized for it.

[2018-06-22 08:01] Invictum opened #24 "Sometimes LogStorage causes NPE"

[2018-06-22 08:20] Invictum commented on #24
Fixed. Will be available in 1.1.3

[2018-06-22 08:20] #24 closed

[2018-06-22 09:21] Invictum commented on #22
Implemented. Will be available in 1.1.3 release

[2018-06-22 09:21] #22 closed

[2018-06-22 09:41] Invictum commented on #23
Implemented. Will be available on version 1.1.3

[2018-06-22 09:41] #23 closed

[2018-07-04 12:09] Invictum opened #29 "ErrorLogger enhancement"
For now `ErrorLogger` constructor allows to pass boolean flag for full or short reporting variant. Let's remove this limitation and allow to pass `Function<TestStep, String>`.

Solution will allow to define any customers logic easily without extra efforts.

[2018-07-04 13:34] Invictum commented on #29
Will be available in version 1.1.4+

[2018-07-04 13:34] #29 closed

[2018-07-04 13:37] Invictum opened #31 "Get rid of static configuration object"
For now `ReportIntegrationConfig` uses static approach, but it does not suitable especially with google Guice available.

Changes in configuration will eliminate backward compatibility for versions under 1.1.3, so changes will be available in 1.2.0

[2018-07-04 19:11] Invictum commented on #31
Implemented. Will be available in version 1.2.0

[2018-07-04 19:11] #31 closed

[2018-07-05 08:16] Invictum opened #33 "HtmlSourceAttacher breaks layout"
Opened files attached with `HtmlSourceAttacher` looks ugly.
Looks like an issue with MIME type detection.

[2018-07-05 08:17] Invictum opened #34 "Major refactoring of StepProcessors"
There is a minor 1.2.0 release ahead. So it is possible to provide backward incompatible refactor:
 - change `StepProcessor` approach. Processor should return a list of massages for RP rather than emit logs itself.
 - remove methods marked as deprecated.
 - update unit tests in accordance to changes.
 - update documentation.

[2018-07-05 15:00] Invictum commented on #33
For some reason RP client detects file as an XML mime type. Fix will force to use text/plain

[2018-07-06 09:34] Invictum commented on #33
Implemented. Will be available in 1.2.0

[2018-07-06 09:34] #33 closed

[2018-07-10 17:21] automationguild opened #36 "Error java.net.MalformedURLException"
Hi,

Not sure if this is a user error or not but any idea what would cause a "ERROR com.epam.reportportal.service.ReportPortal - Cannot build ReportPortal client
java.net.MalformedURLException" ? The URL is taking direclty from the ReportPortal SuperAdmins User profile java configuration section. All the info like rp.endpoint, rp.uuid, rp.launc, and rp.project in my reportportal.properties looks c

[2018-07-11 09:41] Invictum commented on #36
Hi @automationguild
It is hard to say exactly, but it looks like Report Portal client configuration issue. Can you provide a URL here? You may mask real domain name with some fake value for security reasons.

[2018-07-11 11:56] automationguild commented on #36
Thanks @Invictum for getting back to me. Here is the reportportal.properties info (I work for a large company and I'm guessing this is probably some proxy/security issue on my end :(

rp.endpoint = http://01.922.361.67
rp.uuid = 8834b8b5-7fd6-5234-98cb-9ff1a23d7737
rp.launch = superadmin_TEST_EXAMPLE
rp.project = testProject

[2018-07-11 12:22] Invictum commented on #36
@automationguild
URL looks fine and works for me - at least client is build.

Maybe you have some hidden proxy configuration. Let's see what following code returns for you
[code]
You may evaluate it somewhere before test init.

[2018-07-11 13:39] automationguild commented on #36
@Invictum awesme getting closer! Now getting this error:

[rp-io-3] ERROR com.epam.reportportal.service.Launch - [55] ReportPortal execution error
com.epam.reportportal.exception.ReportPortalException: Report Portal returned error
Status code: 406
Status message: Not Acceptable
Error Message: Finish launch is not allowed. Launch '5b4607be42eba40001f94368' has items '[5b4607be42eba40001f9436a,5b460

[2018-07-11 14:09] Invictum commented on #36
@automationguild
Do you run tests in parallel? And share your `pom.xml` file.

[2018-07-11 14:15] automationguild commented on #36
No not running in parallel.  I'm using buld 4.1.0. Going thru this thread now to see what else I missed: https://github.com/reportportal/reportportal/issues/126

[2018-07-11 14:36] Invictum commented on #36
And what about your `pom.xml` file?

[2018-07-11 14:58] automationguild commented on #36
This is whats in my pom

<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">

	<modelVersion>4.0.0</modelVersion>
	<groupId>com.framework</groupId>
	<artifactId>BDD</artifactId>
	<version>1.0-SNAPSHOT</ver

[2018-07-11 15:57] Invictum commented on #36
@automationguild
Update `maven-failsafe-plugin` to version `2.19.1` or above.

[2018-07-13 11:50] Invictum opened #37 "Update documentation with required maven plugin version"

[2018-07-13 11:51] Invictum opened #38 "Turn NarrativeFormatter into Function"
Technically `NarativeFormatter` is a convertor function, so it is possible to use Java 8 features to represent it.

[2018-07-16 13:48] Invictum commented on #34
Implemented. Will be available in version 1.2.0

[2018-07-16 13:48] #34 closed

[2018-07-23 20:39] Invictum commented on #36
@automationguild
The same as you already do in your `pom.xml`
[code]
Does `maven-failsafe-plugin` update to `2.19.1` solve your issue with FINISH_LAUNCH_NOT_ALLOWED error?

[2018-07-26 11:58] automationguild commented on #36
Thanks again @Invictum for all your help. Would love to get this working but I'm still gettng the error:

com.epam.reportportal.exception.ReportPortalException: Report Portal returned error
Status code: 406
Status message: Not Acceptable
Error Message: Finish launch is not allowed. Launch '5b59b6362ab79c00016820d2' has items '[5b59b6372ab79c00016820d4,5b59b63f2ab79c00016820d5]' with 'IN_PROGRESS'

[2018-07-27 08:22] Invictum commented on #36
@automationguild
Can you provide a simple project that reproduced an issue, so I may use to debug? Also specify a command you use to run test in mentioned project.

[2018-07-29 06:09] Invictum commented on #37
Implemented. Will be added in 1.2.0 version

[2018-07-29 06:09] #37 closed

[2018-07-31 14:31] automationguild commented on #36
@Invictum unfortunelty I can't repro in a project that I can share yet. When I create a standard Serenity project using the jbehave archetype and add the same reportportal values to the project it works. Tryin to figure out what is dif about my project. One main thing is that we name our .story files as .feature files. I run using this mvn command:

clean verify serenity:aggregate -U -Dmaven.test.

[2018-08-15 15:46] automationguild commented on #36
Anyone have any other suggestions?

[2018-08-15 16:58] Invictum commented on #36
@automationguild
I tested integration with mentioned maven options
[code]
With no luck to reproduce your issue.

Integration implemented on `serenity-core` level, so it may be broken only if you alter regular serenity test lifecycle. Unfortunately it is hard to guess what is wrong without debug. And it is possible only with your projects.

I recommend you try to debug your project. You may start w

[2018-09-17 23:26] Invictum opened #43 "Update underlying RP client and Serenity versions"

[2018-09-17 23:43] Invictum commented on #43
Implemented. Will be available in version 1.2.1

[2018-09-17 23:43] #43 closed

[2018-10-04 12:42] automationguild commented on #36
Thanks @Invictum for your help. I'm so close to getting this working now. I have one last hurdle but not sure if its a ReportPortal issue or a plugin issue. When I run a feature file that does not have a @skip in a Meta section the full feature file works fine and all the runs appear in ReportPortal. If I run a feature file that has multiple tests and one of them has a @skip it aborts the feature

[2018-10-04 17:47] automationguild commented on #36
Fixed the @skip issue by using the -Dmetafilter=-skip command. All set thanks again!!

[2018-10-04 17:47] #36 closed

[2018-10-22 14:12] automationguild opened #45 "Help: Last test stuck in "In Progress" status"
Hi,

Sorry me again.

Everything works except for each Launch the last test always get stuck in an "In Progress" .

The test eventually times out with the status of "interrupted".

Not sure if the issue is in my ReportPortal dashboard(build 4.3.0) setup of in the Serenity plugin (version 1.1.3)

Any ideas what I'm doing wrong?

Thanks again!

[2018-10-23 03:13] Invictum commented on #45
hi,

I will try to look at it tomorrow.
Does issue reproduce with latest integration version - 1.2.1?

[2018-10-23 11:34] automationguild commented on #45
Hi @Invictum !

I also asked the folks at ReportPortal and it sounds like its a known issue on their side :(
==========================
This can happen when:

- when runner/framework do not send FinishRQ for launch
- when runner sends FinishRQ, but some of the test cases are still in progress. And server returns you an error, that you can't finalize parent when the child is still in progress.

Mos

[2018-10-23 13:36] Invictum commented on #45
Integration emmits finish execution event on JVM shutdown.
May you attach logs of your execution?

[2018-10-23 14:09] automationguild commented on #45
Sure which logs do you want? This is from the failsafe-reports (I also noticed that the Serenity index.html is blank)

-------------------------------------------------------------------------------

Test set: com.ge.hcit.radtests.bdd.RadDesktopTestSuite

-------------------------------------------------------------------------------

Tests run: 204, Failures: 0, Errors: 1, Skipped: 0, Time elapse

[2018-10-23 14:41] Invictum commented on #45
Logs that appears in a console. Underlying RP client sends communication errors here.

In accordance to output you provided something wrong happens with Serenity itself. Does it work with disabled integration?

[2018-11-08 13:25] Maheshkhandave opened #46 "Finish launch is not allowed. Launch '5be4330e42eba40001f5189a' has items '[5be4331a42eba40001f5189e]' with 'IN_PROGRESS' status"
I am trying to integrate serenity with report portal with below combination. My project is configured as Serenity-Junit
1. Fail-safe plugin- 2.22.1
2. Junit- 4.12
3. Serenity-Version- 2.0.11
4. serenity-reportportal-integration- 1.2.0 also tried 1.2.1
5. Report portal build- 4.3
6. Launching the test through Intellj ID using mvn command, I am launching selective test based on the tag

In every exe

[2018-11-09 03:54] Invictum commented on #46
@Maheshkhandave
Can you provide your ‘pom.xml’ file as well as exact command you used to run tests?

[2018-11-09 12:41] Maheshkhandave commented on #46
<?xml version="1.0" encoding="UTF-8"?>
<project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://maven.apache.org/POM/4.0.0"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>

    <groupId></groupId>
    <artifactId></artifactId>
    <version></version>
    <packaging>jar</packaging

[2018-11-09 12:42] Maheshkhandave commented on #46
using command as mvn clean verify -Dtags="Temp1"

[2018-11-10 16:01] Invictum commented on #46
@Maheshkhandave

I am unable to get exact error message from your issue. But have some clues.
Integration `1.2.1` is build with Serenity `1.9.45` as a dependency. But you try to use `2.0.21`. Exclude Serenity from integration dependencies in your pom file
[code]

[2018-11-13 03:28] Invictum opened #47 "Update profile config section"
There is an old version of config example at
[code]

[2018-11-13 20:49] nstbushneva opened #48 "Support of @RunWith(CucumberWithSerenity.class)"
Hi,

I use serenity integration with cucumber. I found that the official cucumber plugin doesn't work for me as it works with old version cucumber while all latest serenity integrations are based on latest cucumber (> 2.x).

Is this plugin to support @RunWith(CucumberWithSerenity.class) in addition to just @RunWith(Serenity.class) ?

As now there are official cucumber plugin and this one for seren

[2018-11-14 03:42] Invictum commented on #48
Hi @nstbushneva

`serenity-reportportal-integration` module build around `serenity-core`. So it should work with all Serenity test automation frameworks that use that core - including `serenity-cucumber`, that I assume you are using.

Serenity-cucumber [manual]() describes only one way of integration with Cucumber - with `@RunWith(CucumberWithSerenity.class)` runner class. So I am not sure `@RunWi

[2018-11-14 03:47] Invictum opened #49 "Web driver is initialized in non UI related tests"
Issue is spotted with serenity-cucumber.

Looks `ThucydidesWebDriverSupport.isInitialised()` doesn't work correct in context of Cucumber tests.

[2018-11-15 01:05] Invictum commented on #48
@nstbushneva

Sure! Thanks for willing to help, I'm really appreciate it.
I am going to close current issue and let you know when fix of #49 will be ready.

[2018-11-15 01:06] #48 closed

[2018-11-15 01:19] Invictum commented on #49
Fix applied, will be available in release 1.2.2+

[2018-11-15 02:09] Invictum opened #51 "Update serenity core to 2.x version"

[2018-11-15 21:23] nstbushneva opened #52 ""Cannot send file to ReportPortal java.lang.NullPointerException" on running CucumberWithSerenity.class"
I have created a dummy test project that contains _Serenity_ and _CucumberWithSerenity_ tests in order to verify their integration with Report Portal.
This project configured with:
* serenity-reportportal-integration [1.2.2-SNAPSHOT]
* maven-failsafe-plugin [2.19.1]
* serenity-core [1.9.45]
* serenity-cucumber [1.9.8]
By running _Serenity test_ everything goes fine and I am getting test results in

[2018-11-16 01:57] Invictum commented on #46
Issue is duplicated by #52

[2018-11-16 01:58] #46 closed

[2018-11-16 01:58] Invictum commented on #52
@nstbushneva
Thanks for issue report. I am able to reproduce it with your project and will fix it shortly.

[2018-11-16 04:31] Invictum commented on #52
@nstbushneva
Fix require RP logs emit mechanism rework. As a result it takes more time as expected.

[2018-11-17 05:18] Invictum commented on #52
@nstbushneva
Logs emit mechanism was reworked as well as log units approach. Changes introduced break of backward capability, so `1.3.0` release has been drafted.

You may check fix with `1.3.0-SNAPSHOT` version.

[2018-11-19 09:59] nstbushneva commented on #52
Hi @Invictum,
Thank you for the fix. At least, I am not getting this exception in my real test-automation project. 👍

[2018-11-19 09:59] #52 closed

[2018-11-19 12:46] nstbushneva opened #53 ""Error Type: FINISH_LAUNCH_NOT_ALLOWED" on running CucumberWithSerenity.class"
I have created a dummy test project that contains Serenity and CucumberWithSerenity tests in order to verify their integration with Report Portal.
This project configured with:

- serenity-reportportal-integration [1.3.0-SNAPSHOT]
- maven-failsafe-plugin [2.19.1]
- serenity-core [1.9.45]
- serenity-cucumber [1.9.8]

The project contains cucumber tests that have a common step.
When I'm trying to ex

[2018-11-27 20:59] Invictum commented on #53
@nstbushneva
Looks it is related to an old Serenity issue https://github.com/serenity-bdd/serenity-core/issues/707
I will try to find a workaround for it from integration side, but this will be really tricky.

[2018-11-28 08:53] nstbushneva commented on #53
Hi @Invictum,
Thank you for the update! I look forward to hearing from you)

[2018-11-28 20:23] Invictum commented on #53
@nstbushneva
Solution was found, I will create a PR with fix.

[2018-11-29 02:39] Invictum commented on #53
@nstbushneva
Fix is available in `1.3.0-SNAPSHOT` version

[2018-12-02 18:39] Invictum commented on #53
Fixed. Will be available in version 1.3.0

[2018-12-02 18:39] #53 closed

[2018-12-02 21:07] Invictum commented on #51
Implemented. Will be available in version 1.3.0

[2018-12-02 21:07] #51 closed

[2018-12-17 08:33] nstbushneva commented on #53
Hi @Invictum,
Thanks a tone for the new release! Everything is working perfectly fine!

[2018-12-19 00:08] Invictum commented on #53
@nstbushneva
You are welcome. Thank you for issues reporting!

[2019-01-29 20:13] Invictum opened #58 "Fix and update documentation"
- `For now following extractors are available` -> `log units`
- Removed Narrative formatter
- Removed Handlers
- Markdown format
- REST log unit

[2019-02-24 11:48] doomobou opened #59 "NPE using CucumberWithSerenity"
I'm trying to setup Report Portal integration on my project that uses Serenity and Cucumber (@RunWith(CucumberWithSerenity.class)).

However, when launching tests, the first test itself passes, but I get NPE in the Runner class right after it:
`java.lang.NullPointerException
        at com.github.invictum.reportportal.handler.FlatHandler.finishTest(FlatHandler.java:91)
        at com.github.invict

[2019-03-01 19:49] Invictum commented on #59
@doomobou
Thanks for reported issue. I've investigated it and found a root cause - looks Serenity core produce `TestOutcome` differently for UI and non UI tests.
Your example project is API test, but you defined `StepDefs` class as UI ready with pages injection
[code]
With default constructor in `StepDefs` NPE exception won't be rised.

Unfortunately from this point an old Serenity bug is in effec

[2019-03-04 16:59] Invictum commented on #45
Issue is closed due to lack of activity. Please create a new one if it is still occurred.

[2019-03-04 16:59] #45 closed

[2019-03-06 14:30] nstbushneva opened #60 "[@SerenityWithCucumber] Report Portal fetches results only of the first example of a Scenario Outline."
While publishing results of CucumberWithSerenity tests to Report Portal we observed the issue with [Scenario Outlines](https://www.baeldung.com/cucumber-scenario-outline). It seems Report Portal fetches results only of the first example from a Scenario Outline.
As a result, it doesn't fail the launch even the actual build is failed by unsuccessful examples.

Dependencies:
* serenity-reportportal-i

[2019-03-06 15:57] nstbushneva opened #61 "[@SerenityWithCucumber] There is inconsistency in cucumber features representation if feature files defined under the same runner class."
In some cases, our test automation framework requires the sequential execution of cucumber features. In order to achieve this, we explicitly define these features under the same runner class:
[code]
When the Report Portal represents all features on the Suite view, it shows only one of the specified files, e.g. "The 2nd dummy scenario" [src/test/resources/basic_cucumber_test2.feature], which has al

[2019-03-08 15:19] Invictum commented on #61
@nstbushneva
Thanks for issue report. I looked into it and yes it is possible to fix it.

[2019-03-08 15:21] Invictum commented on #60
@nstbushneva
This one will be tricky. Actually for now parametrized tests with data provider are not supported at all. I am planning to add support, but not sure it will be quick.

[2019-03-08 15:33] Invictum opened #62 "Add support for BDD parametrized tests with data providers"
For now integration proceed parametrized BDD tests in a wrong way.

Steps:
 - investigate and compare junit, cucucmber and jbehave test sources flow in listener
 - add reaction on `exampleStarted` and `exampleFinished` methods
 - Serenity core issue https://github.com/serenity-bdd/serenity-core/issues/707 should be taken into account

Ideas:
 - Potentially BDD and jUnit tests sources handling shou

[2019-03-08 16:26] Invictum commented on #61
Will be fixed in scope of https://github.com/Invictum/serenity-reportportal-integration/issues/62

[2019-03-10 20:33] nstbushneva opened #63 "[@SerenityWithCucumber] Report Portal creates redundant launches for multi module project"
On running tests in multimodule test-automation-framework, Report Portal creates a separate launch for each module. It generates redundant launches for modules which don't have any tests with the specified tag.
![redundant-launch](https://user-images.githubusercontent.com/36731862/54091087-75a4f600-4384-11e9-8694-ef72cd2db601.gif)

Would it be possible to keep all tests results in one launch even

[2019-03-11 11:33] nstbushneva opened #64 "Rest Assured reports integration"
*Hi @Invictum, I'd like to thank you for all the efforts you have put in the serenity-reportportal-integration project.
You have made our life much easier by providing such listener, as now we can represent all our test results in the Report Portal on a daily basis.*

*I created this issue just to suggest a minor thing for the further improvement of the serenity-reportportal-integration project.*

[2019-03-11 15:11] Invictum commented on #64
@nstbushneva
Yes, it is possible. I will schedule this functionality to add in `1.4.0` version.
In case if you need functionality ASAP, it is possible to create custom [log unit](https://github.com/Invictum/serenity-reportportal-integration#log-units). Rest request and response info is accessible via `TestStep.hasRestQuery` and `TestStep.getRestQuery` methods.

[2019-03-11 16:26] nstbushneva commented on #64
@Invictum, thank you for getting back to me!
This is a nice-to-have feature. Thus, there is no hurry.

[2019-03-13 01:26] BushnevYuri opened #65 "Report portal auto analysis doesn't work with serenity-rp-integration for Kotlin based project"
Hello,

I was trying to use the report portal and it worked quite well with JUnit integration. However, once I try to use it with serenity integration, I have some troubles in making an auto-analysis. It just doesn't work without any errors in logs.

This is my report portal configuration:
<img width="1182" alt="Screenshot 2019-03-13 at 3 21 16" src="https://user-images.githubusercontent.com/44633

[2019-03-13 16:31] Invictum commented on #65
@BushnevYuri

Integration only uploads Serenity results to Report Portal service and doesn’t control auto analysis feature itself.

As I remember RP start to automatically tag results after 24 hours from the first manual tagging fact (with clean indexes). A lot of attributes are taken into account during auto analysis - name, tags and parameters, so make sure you run the same tests.

[2019-03-14 09:56] doomobou commented on #59
Sorry for the long wait.
Fixed my example according to your comments.
In my actual project 95% of the tests are in browser, in the new version I'm still getting the same NPE after the first successful test. Report Portal receives the run, but it only contains the first test as well.
I'm guessing that now it is due to that Serenity Junit bug you previously mentioned

[serenitycucumberreportportalsa

[2019-03-14 14:21] Invictum commented on #59
@doomobou

I am planning to change integration recording approach to avoid Setenity issues. So you may try version 1.4.0 when ot will be ready.

[2019-03-14 18:40] BushnevYuri commented on #65
That's interesting because once I do exactly the same test but change it to just JUnit without serenity and use JUnit dependency for Report Portal then the analysis is doing well and it is analyzed right away.
Tried also to clean up indexes and from scratch seeing the same symptom (working with pure JUnit but doesn't work for serenity via integration).

Will try again a bit later to check if I mis

[2019-03-22 21:14] Invictum commented on #60
@nstbushneva

Fix is available in `1.4.0-SNAPSHOT`, work is still in progress, but I assume it will be connected to small refactor and documentation updates.

[2019-03-22 21:16] #62 closed

[2019-03-25 08:08] nstbushneva commented on #60
Hi @Invictum, thank you for your fix.
It seems something goes wrong for Scenario Outline feature with
[code]
I am getting CHILD_START_TIME_EARLIER_THAN_PARENT error:

[code]
In order to reproduce the issue, please reuse the same serenity-with-cucumber-scenario-outlines.zip

with updated pom.xml:

[code]

[2019-03-27 00:37] Invictum commented on #60
@nstbushneva nice catch!
Fix is uploaded to the same artifact name.

[2019-04-03 15:05] Invictum commented on #60
Fixed. Will be available in version 1.4.0+

Parametrized tests may have equal names in RP, but always have a different set of parameters.

**Names**

<img width="1160" alt="Screenshot 2019-04-03 10 03 13" src="https://user-images.githubusercontent.com/4653335/55489562-c7454700-55f7-11e9-8ab5-b9b7e9b8f6a7.png">

**Parameters**

<img width="794" alt="Screenshot 2019-04-03 10 04 33" src="https://user

[2019-04-03 15:05] #60 closed

[2019-04-03 15:10] Invictum commented on #61
Fixed. Will be available in version 1.4.0+

[2019-04-03 15:10] #61 closed

[2019-04-03 15:28] Invictum commented on #65
@BushnevYuri
Any updates on this issue?

[2019-04-03 19:16] Invictum opened #68 "Revise code before 1.4.0 release"
1.4.0 version introduced a lot of changes. All classes should be revised and updated in accordance to it. The same should be provided for unit tests.

Memo:
 - remove tree optimized preset

[2019-04-03 19:31] Invictum commented on #64
Implemented. Will be available in version 1.4.0+

[2019-04-03 19:31] #64 closed

[2019-04-12 09:00] BushnevYuri commented on #65
@Invictum unfortunately, didn't have time to look into at all... Last thing which I could see is that for some reason, errors from the report portal were not propagated to the ReportPortal.
For example, I see an error in serenity report but this error is not presented in the ReportPortal report. In the same time, the status of the test case is failed (but just without error specified).

As ReportP

[2019-04-13 04:08] Invictum commented on #68
Done

[2019-04-13 04:08] #68 closed

[2019-04-13 04:18] #58 closed

[2019-04-13 19:10] Invictum opened #73 "Collect driver logs in a safe way"
There is an old geckodriver issue that prevents determinate available log types https://github.com/mozilla/geckodriver/issues/284

This prevents integration to work correctly with Firefox browser. The idea is to proceed its from integration code side.

[2019-04-13 20:23] Invictum commented on #59
@doomobou

I checked your issue one more time and actually find several issue that causes it. All of them connected to Serenity Cucumber configuration itself:
 - you are using really old version of Serenity, I recommend to use latest versions
 - you mixed up definitions (glue) and step entities (scenario steps). Serenity handles them in a different way and has mandatory folders structure. Check [S

[2019-04-13 20:23] #59 closed

[2019-04-16 16:50] DzmitryHumianiuk commented on #65
you have to have ERROR type of the logs (colored in RED) on UI.
Since RP uses only this part of logs for auto-analysis.

[2019-04-25 09:31] BushnevYuri commented on #65
right. So it depends on the internal implementation of Serenity and why some of the asserions are not being sent as ERROR.
In any case, we will try to integrate this once again in a week and will update the ticket accordingly right after that.

[2019-04-26 15:50] Invictum opened #74 "Documentation for 1.4.1 release"
1. Move filtered logs code example in proper section
2. Introduce CHANGELOG.md file

[2019-04-27 16:51] Invictum commented on #73
Implemented. Will be available in 1.4.1+ version

[2019-04-27 16:51] #73 closed

[2019-04-27 17:13] Invictum commented on #63
@nstbushneva

jUnit is configured to run tests in parallel using JVM forking.
[code]
So tests on each submodule run on a different JVMs. But for now integration controls RP communication client on one JVM level, so practically with your example several client created, as a result you got several launches in RP.

Potentially is it possible to avoid it with cross JVM communication, but efforts to do

[2019-05-05 19:03] #74 closed

[2019-06-04 01:35] Invictum commented on #65
@BushnevYuri

Looks the root cause was in `TREE_OPTIMIZED` handler type.
[code]

It was removed starting from `1.4.0`. With default configuration all works as expected (at least from my perspective).

[2019-06-04 02:31] Invictum opened #77 "Don't show empty body in requests"
If Rest Assured is used to send empty request body is shown in report.
Let's make report more accurate - only non-empty bodies should be shown.

[2019-06-14 08:38] BushnevYuri commented on #65
Thank you @Invictum !!!
Yes, works great after the update.

Still couldn't run it due to new issue (looks like happening when we have tests running in parallel within one suite). But we will share that in a separate ticket. Thank you very much for your help!

[2019-06-14 09:54] medbedalex opened #78 "ReportPortal returned errors CHILD_START_TIME_EARLIER_THAN_PARENT during parallel testrun"
ReportPortal returned a lot of following errors during parallel testrun:
[code]

Also I want to mention that number of tests in ReportPortal **every time different** during parallel launch.

Here is some pox.xml details:
[code]

So the **actual behaviour** during parallel launch:
1. errors from RP CHILD_START_TIME_EARLIER_THAN_PARENT
2. different number of tests in ReportPortal launch

And **expec

[2019-06-14 17:13] Invictum commented on #78
@medbedalex
Thanks for issue reporting. I will look into it and let you know if I need more details

[2019-06-18 18:25] BushnevYuri commented on #78
The same issue has been previously reported on report portal itself by guys using cucumber integration https://github.com/reportportal/reportportal/issues/188 and was fixed by https://github.com/reportportal/agent-java-cucumber/pull/8

Probably a similar issue.

[2019-06-18 20:29] Invictum commented on #78
@medbedalex

What version of Report Portal server did you use?

[2019-06-18 20:57] medbedalex commented on #78
@Invictum
[code]

[2019-06-19 13:35] Invictum commented on #78
@medbedalex

I'm unable to reproduce your error, but noticed some side effect that connected to parallel execution. And it is definitely an issue that will be fixed in a separate ticket.

Could you please provide a simple project that reproduced an issue?

[2019-06-20 08:59] #65 closed

[2019-07-10 10:39] slavamarkovski commented on #63
Hello,

Do you have any plans to fix the issue? We faced with the same problem recently.
As a workaround it is possible to set unique tag for each set of runs and merge them on full run completion using RP API.

Thanks.

[2019-07-10 21:30] Invictum commented on #63
@slavamarkovski
Your proposed workaround idea sounds good. I will try to apply it with little modification.
Thanks for contribution

[2019-07-11 07:11] slavamarkovski commented on #63
@Invictum sorry for pushing but do you any rough ETA for this issue?

[2019-07-11 07:14] slavamarkovski opened #79 "How can I add custom tags into RP?"
Will be good to have an ability to add custom tags (e.g. build ID) into RP programmatically. As far as I see there is no ability to do it right now.

Thank you.

[2019-07-11 13:45] Invictum commented on #63
@slavamarkovski

I made a small investigation and actually it is more complex than expected. It requires cross JVM communication even with merge approach.

As for estimates: It depends on my free time, but I will try to implement it in a few weeks.

[2019-07-11 13:46] Invictum commented on #79
@slavamarkovski
Does native RP integrations support it?

[2019-07-19 15:43] Invictum commented on #63
Implemented. Will be available on 1.4.2+

@slavamarkovski
Before release feature is available in snapshots, related documentation can be found in `README.md` in `development` branch

[2019-07-19 15:43] #63 closed

[2019-08-14 19:10] theguywhodoesthething opened #81 "Turn off integration without removing from project"
Is there a way to turn off reportportal for a test launch without removing it from my project completely? I'd like to have two tasks in my build.gradle, one that logs to reportportal, and one that doesn't. Is this possible?

[2019-08-15 01:42] Invictum commented on #81
@theguywhodoesthething

Sure, you can easily control RP client with `rp.enable` option. Just pass it as JVM argument:
[code]
Other option could be set it to system properties with some gradle plugin, but exact usage depends on plugin itself.

For more details about RP configuration please refer to [RP documentation](https://reportportal.io/docs/JVM-based-clients-configuration).

[2019-08-15 23:18] Invictum commented on #81
@theguywhodoesthething
I am going to close this issue. Feel free to open a new one in case of extra questions.

[2019-08-15 23:18] #81 closed

[2019-08-21 00:59] Invictum commented on #77
Fixed. Will be available in version 1.4.2+

[2019-08-21 00:59] #77 closed

[2019-08-21 01:01] Invictum opened #83 "Upgrade underlying libraries"
Update all libs to latest versions

[2019-08-21 01:20] Invictum commented on #83
Implemented. Will be available in 1.4.2+

[2019-08-21 01:20] #83 closed

[2019-08-22 06:47] slavamarkovski commented on #78
I have the same issue, cannot provide the project - sorry, it is production code.
RP version is the same, serenity-reportportal-integration version is 1.4.1

[2019-08-22 19:52] Invictum commented on #78
@slavamarkovski

Unfortunately, it is hard to determinate the root cause of issue without example.
Synthetic project with several fake tests that reproduces an issue should be enough and I will really appreciate it.

[2019-08-22 22:54] theguywhodoesthething opened #85 "How to align features to items in Report Portal"
Is there a way to configure the integration to add separate features as items under a launch? Right now the default behavior is that the all scenarios are added as tests under one feature that is seemingly selected at random. I believe it might be due to how we are setting up our test runner, which is in a separate TestSupport class.
[code]
Please let me know if this is possible with the existing

[2019-08-23 19:18] Invictum commented on #85
Hi @theguywhodoesthething and thanks for question

In accordance to your runner all features from `src/test/resources/feature` directory will be scheduled for execution.
Integration will threat each feature file as separate suite that may have several children (scenarios).

If you will have several runners that contains intersected feature files, then corresponding tests will be executed twice as

[2019-08-23 19:30] Invictum opened #86 "Report is broken with multiple runners run for Cucumber"
Need to investigate multiple runners execution sequence.

[2019-11-06 14:50] prasad150 opened #87 "Add support for GivenStories tag for BDD style tests"
Hi ..

I am using serenity runner with Jbehave BDD . when i try to integrate report portal serenity ,I am getting the below error.Please help me .

[2019-11-06 14:52] prasad150 commented on #87
java.lang.NoSuchMethodError: net.thucydides.core.model.TestOutcome.getTestSource()Ljava/lang/String;
	at com.github.invictum.reportportal.recorder.TestRecorder.forTest(TestRecorder.java:22)
11623 [pool-1-thread-1] ERROR net.serenitybdd.core.Serenity - TEST FAILED AT STEP Given a scenario with ?DifferentMonth?
	at com.github.invictum.reportportal.ReportPortalListener.testFinished(ReportPortalListen

[2019-11-06 16:53] Invictum commented on #87
@prasad150

Looks like you are trying to use integration with incompatible version of Serenity (possible outdated). Can you specify Serenity version in your project?

[2019-11-06 16:55] Invictum commented on #85
@theguywhodoesthething
Issue is closed due to inactivity

[2019-11-06 16:55] #85 closed, assigned to nobody

[2019-11-06 16:56] Invictum commented on #79
Issue is closed due to inactivity

[2019-11-06 16:56] #79 closed

[2019-11-08 16:02] prasad150 commented on #87
Hi ..
Thank you so much for replying back . Yes I observed serenity older version
have in my project after upgrading the versions ..It is working fine now.

Another issue identified when you have story ,Inside another story It is
giving me this error.

Here is the example.

Scenario: story inside other story
GivenStories:apple.story,
             oranges.story,
             banana.story
Then all f

[2019-11-11 14:28] prasad150 commented on #87
more log details.
I have a story to verify all fruits .

Here is the example.
verify fruits given.story
Scenario:verify fruits given  [story inside other storys]
GivenStories:
             apple.story,
             oranges.story,
             banana.story
Then all fruits verified
And End the scenario

java.lang.NullPointerException
	at com.github.invictum.reportportal.SuiteStorage.lambda$finalizeA

[2019-11-12 01:27] Invictum commented on #87
@prasad150
Thanks for clarification. I will look into this issue and let you know if I need somethings additional.

[2019-11-18 05:07] pramodhnv opened #88 "ReportPortalListener could not be instantiated"
Hi @Invictum ,

We are trying to integrate our serenity cucumber framework, versions are below

     <serenity.version>2.0.70</serenity.version>
        <serenity.cucumber.version>1.9.45</serenity.cucumber.version>

During execution, it fails with below error. Could you please help.

[ERROR] 2019-11-18 14:27:07.105 :: Could not instantiate listener
java.util.ServiceConfigurationError: net.thucydid

[2019-11-18 05:08] pramodhnv commented on #88
reportportal.properties:
rp.endpoint = http://localhost:8080
rp.uuid = bef4a299-ff15-455e-bad5-3ec7598ce67f
rp.launch = superadmin_TEST_EXAMPLE
rp.project = SynBDD

[2019-11-21 11:41] Agurul opened #89 "Test results which stored in CSV are not populating in Report portal"
I have a test results which stored in csv file. I will not use Assertion in my test file due to huge data records validation.
Report portal is not showing any results for my Passed test case.

Is it possible to avail my csv results file from project directory to report portal ? If so please guide me on this how to publish CSV data on report portal?

[2019-11-25 08:59] Agurul commented on #89
Any update on this please

[2019-11-25 22:06] Invictum commented on #89
@Agurul
Integration provides only link between Serenity and Report Portal. And you are looking for some kind of import with custom format.

I'm not sure about CSV files, but Report Portal supports xUnit style report import [link](https://reportportal.io/docs/Log-data-import). But it is better to ask a question in Report Portal github scope [here](https://github.com/reportportal/reportportal).

I'm

[2019-11-25 22:06] #89 closed, assigned to nobody

[2019-11-25 22:11] Invictum commented on #88
@pramodhnv
Thanks for issue reporting. Can you provide simple project that reproduces an issue?

[2019-11-25 22:13] Invictum commented on #87
@prasad150
Sorry for late response. Issue occurs because of `GivenStories` tag that isn't supported for now. I will schedule implementation, but not sure is will be ready in nearest future.

[2019-11-26 16:12] prasad150 commented on #87
*Thank you for your reply. Please let us know when it is fixed .*

On Mon, Nov 25, 2019 at 4:13 PM Iaroslav Iershov <notifications@github.com>
wrote:

[2019-12-13 03:39] Invictum commented on #88
@pramodhnv
I'm unable to reproduce this issue, so I will close a ticket. If you will face with it one more time create a new one.

[2019-12-13 03:39] #88 closed, assigned to nobody

[2020-03-01 17:10] Invictum opened #91 "Update internal libs for 1.4.3 release"

[2020-03-01 18:16] Invictum commented on #91
Implemented: will be available in 1.4.3

[2020-03-01 18:16] #91 closed, assigned to Invictum

[2020-04-02 19:23] Invictum opened #94 "Nested steps support"
RP 5+ introduced nested steps support, so now we should be able to represent Serenity tree structure in RP

[2020-04-02 19:24] Invictum opened #95 "Documentation finalization release 1.5.0"
TODO list:
 - update tags section
 - update log units section

[2020-04-07 20:07] Invictum opened #96 "Markdown mode adjustment"
With RP v5+ MD is enabled by default. Code need to be adjusted to support it.

[2020-04-07 20:08] Invictum opened #97 "Narrative support"
Fill RP tests description with per-formatted narrative from Serenity.
Both test sources should be supported: bdd and junit.

[2020-04-07 20:15] Invictum opened #98 "Review log units"
With possibility to recreated Serenity's steps tree in RP some log units became obsolete. They should be reviewed and removed / updates as necessary.

[2020-04-27 23:33] Invictum commented on #94
Implemented. Will be available in 1.5.0+

[2020-04-27 23:33] #94 closed, assigned to nobody

[2020-04-28 19:41] #98 closed, assigned to Invictum

[2020-05-09 08:25] HajekOndrej opened #101 "Selenium logs are collected even when their reporting is disabled"
Hi,
thanks for this great RP integration for Serenity.

I have found a little issue, that Selenium logs are collected no matter what LogUnits are enabled. They are collected even when reportportal logging is disabled with rp.enable=false.

This would normally not be a problem, but when the webdriver is Appium, Appium logs are collected for each step, which can take a lot of time and I generally do

[2020-05-14 18:10] Invictum commented on #101
Hi @HajekOndrej
For now integration always tries to collect logs for UI tests, this is done for avoiding several configuration points. Seems like issue can be fixed, but it require a little rework.

[2020-05-26 20:53] Invictum commented on #97
Implemented. Will be available in 1.5.0

[2020-05-26 20:53] #97 closed, assigned to Invictum

[2020-06-05 04:41] sudarsunperu opened #103 "Library Verisons Updated Automatically."
Hi @Invictum ,
I'm using the below configuration for my project. I was able to integrate to reportportal, however after Integration with this plugin, I observed that it automatically updates the Library Versions.
e.g: In my configuration below, serenityCoreVersion is 2.0.40 but after integration it was automatically picking up 2.1.8.

Is there a way I can use my library versions and not update it

[2020-06-05 14:46] Invictum commented on #103
Hi @sudarsunperu
I assume you are using gradle for dependency management and this is exactly how it resolves situation when several versions of the same lib are defined. The newest one is picked by default. You can try to use integration with older version of `serenity-core`, to achieve it try to exclude it from integration dependencies
[code]
Potentially is may work if no major changes were made

[2020-06-09 11:20] sudarsunperu commented on #103
Thank you @Invictum . It's picking the older version now. I'm able to see the results on Report Portal too.

[2020-06-09 11:21] #103 closed, assigned to nobody

[2020-06-09 11:31] sudarsunperu opened #104 "Multiple Launches created during Parallel Execution."
Hi @Invictum ,
I'm executing my Tests using serenity Batches.
I've configured my job to run all my Test Cases with 5 batches. I'm observing that for 1 run, it creates 5 **Launches** on Report Portal (equal to the number of batches). However I would like to configure it as 1 execution (5 batches) creates 1 **Launch** .
If there is a way to pass a **Launch** to all the batches and they update them,

[2020-06-09 20:49] Invictum commented on #104
Hi @sudarsunperu

Unfortunately integration doesn't support batch run merge, but potentially you can try to utilize [Modules merge launches](https://github.com/Invictum/serenity-reportportal-integration#merge-launches) feature to achieve it (I didn't try it). Configuration will depend on you jobs structure and rules, but in general you should provide two options:
- `erenity.rp.modules.count` set i

[2020-06-10 04:47] sudarsunperu commented on #104
Hi @Invictum

Thank you for your response. I will checkout the solution that you have proposed. Alternately I had an approach in mind and would like to know your thoughts on the same.

Would it be possible to pass a **Launch id** to all the batches, and each batch can update the same launch instead of creating a new one. So before starting the batches, I can create a Launch using the Reportportal

[2020-06-10 12:03] sudarsunperu commented on #104
Hi @Invictum
I passed the below properties and found couple of files created in the `serenity.rp.communication.dir`.

- `serenity.rp.communication.dir`="sync-dir"
- `serenity.rp.modules.count`=2

However in Report portal it is still showing up as two separate Launches even after the Tests complete. And I'm able to see the sync-dir created with two files in it (0 Bytes).
![image](https://user-image

[2020-06-12 18:58] Invictum commented on #101
Implemented. Will be available in 1.5.0+

[2020-06-12 18:58] #101 closed, assigned to nobody

[2020-06-12 19:31] Invictum commented on #96
Implemented. Will be available in 1.5.0+

[2020-06-12 19:31] #96 closed, assigned to nobody

[2020-06-12 20:07] Invictum commented on #104
@sudarsunperu
Seems like you found an issue. Nice catch! I will create a separate ticket to track it https://github.com/Invictum/serenity-reportportal-integration/issues/107

Current issue will be closed

[2020-06-12 20:10] Invictum opened #107 "File storage fails to recognize files with valid launch IDs"
Merge API contract has changed in `java-client` 1.5+. And not it is in non consistent state. ID for created launch is represented as HEX string, but merge request requires launch IDs of `Long` type.

Fix will be possible after launch IDs will be the same type. I assume future `java-client` releases will fix it.

[2020-06-12 20:11] #104 closed, assigned to nobody

[2020-06-12 20:51] Invictum commented on #95
Implemented. Will be available in 1.5.0+

[2020-06-12 20:51] #95 closed, assigned to nobody

[2020-06-16 20:08] Invictum commented on #107
Fixed. Will be available in 1.5.0+. Fix applies only to `java-client` 5+ so it will be compatible only with RP 5 and newer.

[2020-06-16 20:08] #107 closed, assigned to Invictum

[2020-06-19 08:03] sudarsunperu opened #111 "Partial Reports Uploaded to ReportPortal when Tests are executed in Batches"
Hi @Invictum
Thank you fixing #104 in short notice. I updated to `v.1.5.0` and ran my tests in Batch Execution and now i'm able to see only 1 Launch for all 5 batch executions. The properties that i've passed are as follows
[code]
All 5 tests are executed by the 5 batches (1 each batch) and the Serenity Report confirms the same. **However now I find only 3 (instead of 5) test case results on Repor

[2020-06-19 18:38] Invictum commented on #111
Hi @sudarsunperu

One file in directory indicates that merge mechanism wasn't executed properly. When all works as expected sync directory should be removed automatically. Gradle commands looks good though.

1. How do you run that batches in parallel or one by one?
2. Make sure sync directory is persistent and accessible for all runs.
3. It would be nice to have a simple project that reproduces an

[2020-06-22 03:58] sudarsunperu commented on #111
Hi @Invictum

**I run the batches in parallel.**

**All 5 batches are started on the same Jenkins Executor and in the same stage at the same time (more or less). The `sync-dir` hence in the same workspace and for sure is accessible by all the batches.**

**I will try to work on that and update it here. However I hope the answers to the other questions help with this issue.**

[2020-06-30 19:43] Invictum opened #112 "Add configurable ability to truncate long entity names"
RP server reports errors for entities with names more than 1024 symbols. It would be nice to have ability to truncate that names and avoid such errors.

[2020-06-30 20:11] Invictum commented on #111
@sudarsunperu
Unfortunately I'm unable to reproduce issue you mentioned. So at this stage synthetic projects will be rally appreciated.

[2020-07-01 17:03] Invictum commented on #112
Implemented. Will be available in 1.5.1+

[2020-07-01 17:03] #112 closed, assigned to nobody

[2020-07-09 15:22] rbetha commented on #87
Hi,
I have integrated report portal with Serenity project(cucumber, Maven) project. I have configured reportportal.properties and
repositories mentioned in POM.xml.  Serenity report portal integration-1.5.0.jar added as external jar as it is not available in our company. After running the test either it is not throwing any error or it is not connecting to reportportal. Need I to mentioned anything

[2020-07-09 15:23] rbetha opened #114 "Unable to integrate report portal with Serenity BDD"
Hi,
I have integrated report portal with Serenity project(cucumber, Maven) project. I have configured reportportal.properties and
repositories mentioned in POM.xml.  Serenity report portal integration-1.5.0.jar added as external jar as it is not available in our company. After running the test either it is not throwing any error or it is not connecting to reportportal. Need I to mentioned anything

[2020-07-20 22:54] Invictum commented on #114
@rbetha

Seems like integration wasn't enabled. If maven central isn't available, you need to download all the jars that required by integration alongside with `integration-1.5.0.jar` itself. Then you supply all the jars to the class path. The way how to do it depends of how do you run you tests.

[2020-08-04 15:00] bvpadmanaban opened #117 "Report Portal Rerun option Not working"
Release used - 1.5.1 or 1.5.0
Report Portal - 5.0.0

In the below both cases, rerun not working, it is always creating new launch.

For Latest Launch Rerun
rp.rerun=true

For Specific Launch Rerun
rp.rerun=true
rp.rerun.of='launch uuid'

[2020-08-04 15:03] bvpadmanaban opened #118 "'rp.reporting.async' is true, then launch not closing and it throws error"
Release used - 1.5.1 or 1.5.0
Report Portal - 5.0.0

Exception in thread "Thread-1" com.epam.reportportal.exception.ReportPortalException: Report Portal returned error
Status code: 404
Status message: Not Found
Error Message: No message available
Error Type: null

	at com.epam.reportportal.service.ReportPortalErrorHandler.handleError(ReportPortalErrorHandler.java:85)
	at com.epam.reportportal.serv

[2020-08-04 15:30] Invictum commented on #118
@bvpadmanaban

Integration doesn't support async reporting, at least for now.

[2020-08-04 15:32] Invictum commented on #117
@bvpadmanaban

Integration doesn't support rerun option, but seems like it not hard to add it. I will consider this feature request for the next release.

[2020-08-04 15:57] bvpadmanaban commented on #118
Okay. Thanks.

[2020-08-24 22:35] #114 closed, assigned to nobody

[2020-08-24 22:36] #78 closed

[2020-08-24 22:46] Invictum commented on #117
Implemented. Will be available in 1.5.2+

[2020-08-24 22:46] #117 closed, assigned to nobody

[2020-08-25 14:40] v1-wizard opened #121 "Could you realese 1.5.2 version of client?"
We are waiting the retires functionality to migrate our tests on it. Thanks =)

[2020-08-25 19:07] Invictum commented on #121
Sure. I will make a small documentation updates and draft a release till the end of current week.

[2020-08-25 21:11] Invictum commented on #121
@v1-wizard
Version 1.5.2 has been released

[2020-08-25 21:11] #121 closed, assigned to nobody

[2020-09-23 03:16] billyjulius opened #127 "ReportPortal return error when parallel execution"
I am using Serenity with Cucumber, and ReportPortal return this error when run multiple cucumber runner in parallel. This happens sometimes and random (not all scenario, but random each run)
[code]

Parallel configuration in maven failsafe
[code]

Version used
serenity-reportportal-integration: 1.5.3
serenity-core: 2.1.4

[2020-09-25 02:06] Invictum commented on #127
@billyjulius
Unfortunately parallel mode isn't supported for now.

[2020-09-25 09:43] billyjulius commented on #127
@Invictum Found the cause of this error, apparently it is caused by integration trying to post all the step of each DataDriven Scenario (Scenario Outline & Examples in Cucumber) and using its each step StartTime, meanwhile the parent test item started using StartTime of the LAST DataDriven Scenario.

[2020-09-25 12:29] Invictum commented on #127
Thanks for the investigation. Can you provide a simple and synthetic project for debug, so I will try to fix it?

[2020-10-01 21:33] tmouryc opened #128 "Evidence not present in RP"
Hi.
I would like to ask about transferring evidence into RP. I'm trying to include the reportportal integration in my project, but  the evidence stored in tests is not present in RP. Although I'm not sure whether the evidence is actually supported by your integration?

Serenity code looks like this:
`Serenity.recordReportData()
          .asEvidence()
          .withTitle("results_json.zip")

[2020-10-02 16:34] Invictum commented on #128
Hi @tmouryc
Mentioned Serenity feature was never tested in integration. I will investigate it and share results.

[2021-01-08 13:02] babantax opened #131 "CHILD_START_TIME_EARLIER_THAN_PARENT"
Hi all!

I have spent some time debugging and finding out to see what is happening. In my case, Im executing sequentially.

This is one feature (see attached) that is causing the error. (It is a search on this page https://www.wiktionary.org/)

Feature: Lookup a definition
  In order to talk better
  As an English student
  I want to look up word definitions

  @issue:TED-20 @example @fe
  Scenari

[2021-01-19 18:59] zzoubian commented on #131
I also noticed a similar issue

[2021-02-16 15:21] marek2209 opened #133 "Not all of tests are shown in reportportal after upgrade to latest serenity-reportportal-integration"
We trying to run tests via mvn task on azure devops and on new version of plugin but only part of tests is getting triggered. Instead of 22 as always only half of it is getting triggered. Probably something is wrong with -Dtags parameter.
Our mvn task looks like:

 task: Maven@3
    inputs:
      mavenPomFile: 'pom.xml'
      mavenOptions: '-Xmx3072m'
      javaHomeOption: 'JDKVersion'
      jdkVe

[2021-02-16 19:52] Invictum commented on #133
Hi,

Integration itself doesn’t alter native Serenity’s mechanism for tests execution based on tag filter.
Do you get the same results without integration?
If so it is better to ask in serenity github at https://github.com/serenity-bdd

[2021-02-17 14:49] marek2209 commented on #133
without integration and with old 1.4.3 version I get different results - proper number of tests are executed

[2021-02-18 14:35] Invictum commented on #133
@marek2209

Integration version `1.4.3` and `1.5.5` uses different Serenity cores.
May I ask you to check how tags based execution works without integration in dependencies for two different Serenity versions: `2.1.8` and `2.3.4`?

[2021-02-22 09:45] Kumar-Manish1 opened #134 "Key Attributes not showing when using serenity-reportportal-integration version 1.4.3"
1. Key and value attributes are appeared when we use invictum dependency version 1.5.5 or 1.5....onwards but build of sanity is getting failed due to build issue and it looks like all test cases are being passed and no result is showing on the report portal.

2. when we use version 1.4....onwards then the sanity is getting pass correctly but key and value attributes are not showing .

[2021-02-22 13:00] Invictum commented on #134
Hi @Kumar-Manish1,

What version of Report Portal server side is used?

[2021-02-22 13:33] Kumar-Manish1 commented on #134
Report Portal version is 5.3.3

[2021-02-22 13:55] Invictum commented on #134
So first of all integration of 1.5.x+ must be used, because it compatible with RP 5.
Next I assume legacy attributes are used, but to make sure can you provide an example of tests run command? Or if possible example of project that reproduces an issue.

[2021-02-22 13:59] Kumar-Manish1 commented on #134
ok so when I am using 1.5.5 version then key attributes are appeared but after that I am facing build failure issue just because of this errro Exception in thread "Thread-0" java.lang.NullPointerException
	at com.github.invictum.reportportal.injector.ReportLaunchProvider.lambda$get$0(ReportLaunchProvider.java:56)
	at java.base/java.lang.Thread.run(Thread.java:832)

[2021-02-22 14:00] Kumar-Manish1 commented on #134
And I am using this command to run the test
mvn clean verify -Dchrome.switches="--headless,--no-sandbox,--disable-dev-shm-usage" -Dwebdriver.chrome.driver=/usr/bin/chromedriver -Dcucumber.options="src/test/resources/features" -Denv=$ENV_NAME

[2021-02-22 16:07] Invictum commented on #134
It is definitely a bug on integration code side. And it will be fixed with next release.
Thanks @Kumar-Manish1

[2021-02-23 06:55] Kumar-Manish1 commented on #134
Hi @Invictum, one more thing in other projects reports are not showing after updating version to 1.5.5 and it gives error
java.lang.NullPointerException and due to this build is also getting failed.
![Screenshot from 2021-02-23 12-23-56](https://user-images.githubusercontent.com/58431014/108810891-22a8c580-75d2-11eb-9844-d601d0f829fd.png)

[2021-03-21 00:27] Invictum commented on #128
Implemented. Will be available in version 1.5.6

[2021-03-21 00:27] #128 closed, assigned to Invictum

[2021-03-21 00:31] Invictum commented on #131
Fixed. Will be available in 1.5.6

[2021-03-21 00:31] #131 closed, assigned to nobody

[2021-03-21 16:54] Invictum commented on #134
@Kumar-Manish1
Issue can't be reproduced with given info and will be closed. Feel free to create a new one with more details if error persists.

[2021-03-21 16:54] #134 closed, assigned to nobody

[2021-03-29 15:16] Jazzyekim opened #136 "Can't activate the merging of the executed batches"
Hi,
We execute the tests using BATCH strategy (in parallel). I experience the same issues as it was metioned [here](https://github.com/Invictum/serenity-reportportal-integration/issues/104) - each batch execution is reported as a separate launch. I tried to use suggested merge approach, by providing `-Dserenity.rp.communication.dir=REPO/rp -Dserenity.rp.modules.count=3`, but it doesn't seems to ha

[2021-03-29 15:22] Jazzyekim commented on #136
Interesting...i have just tried to debug it locally and got an exception in the Shutdown hook set in get method of ReportLaunchProvider class. It failed here: `Long id = reportPortal.getClient().getLaunchByUuid(uuid).blockingGet().getLaunchId();` with exception:

[code]

I do not see such exception when i run it on Jenkins though

[2021-03-29 18:02] v1-wizard commented on #136
Hi @Jazzyekim if you just want to execute tests in parallel you could try the next sing:

1. Don't setup BATCH strategy. Remove all this configurations.
2. Add the next parameters to reportportal.properties
[code]
This configuration will use mechanism to join test results from [report portal java client](https://github.com/reportportal/client-java)

[2021-03-30 02:09] Invictum commented on #136
@Jazzyekim
Seems like native RP client is unable to handshake with Google analytics on HTTPS connection. It might be blocked or inaccessible from your local machine, but whitelisted on CI. Another reason could be different java versions on local machine and CI, more precise different `cacert` files content.

The simplest way to solve it is to disable Google analytics, but after quick search I don'

[2021-03-30 07:17] Jazzyekim commented on #136
Thank you guys, I will try the suggested hints however I suspect that we can't get rid of batching. We had issues with forking - the alternative method of parallelization, but it is a different story :)

[2021-04-02 19:01] Invictum opened #137 "2.0 version basic implementation"
Rework of integration to make it more flexible and extensible. Also should address most of issues that related to report generation by the cost of moving from runtime to after run export (the same as Serenity does).

[2021-04-06 07:33] #136 closed, assigned to nobody

[2021-06-08 19:54] Invictum opened #139 "Prepare documentation for 1.5.7 release"

[2021-06-12 21:49] #139 closed, assigned to nobody

[2021-08-17 13:08] i-vasilev opened #142 "How to merge all scenaries in one feature?"
I have one feature file. It has a few scenaries. But after running report portal divides feature for scenaries. So, I have a few the same features in the ReportPortal list. Is it your issue? Or maybe, I need to go to ReportPortal developers?
![image](https://user-images.githubusercontent.com/17360663/129731105-362bd9e5-584a-4957-9963-7b631e7390c0.png)

[2021-08-20 00:47] Invictum commented on #142
@i-vasilev
By design each scenario in feature file will produce separate test result in RP.
Can you list your feature file?

[2021-08-24 07:04] i-vasilev commented on #142
@Invictum This is the list my feature file:
![image](https://user-images.githubusercontent.com/17360663/130571901-71161b7f-32ce-4e54-a912-3eba492bb656.png)

I think the scenaries should be in one section in RP

[2021-08-24 12:41] Invictum commented on #142
Yes for sure, it should produce one test in RP. It looks like a bug in integration.
My goal is to finish version 2.0 where most of issues will be resolved. So keep an eye on it.

[2021-09-13 08:08] i-vasilev commented on #142
@Invictum Hello! When will you approximately finish version 2.0?

[2021-09-19 15:18] i-vasilev commented on #142
@Invictum
I've found this is not a problem:
My test reruned but I put `failsafe.rerunFailingTestsCount` in reportportal.properties. Please, add annotation to your Readme where we should write the property.

[2021-09-28 08:07] dileytes opened #143 "ReportPortal returned errors CHILD_START_TIME_EARLIER_THAN_PARENT during parallel testrun"
I have a same issue in my project as https://github.com/Invictum/serenity-reportportal-integration/issues/78
I wrote synthetic test for reproduce this issue https://github.com/dileytes/reportportal-issue, but it cannot 100% reproduce the issue. Sometimes it takes two to three runs before the problem appears

[2021-11-08 11:49] plokeshwar opened #145 "Incorrect Request. [Field 'attributes[].value' should have size from '1' to '128'.]"
Suddenly, I started getting this error.  Any help would be greatly appreciated.

19:30:16.058 [rp-io-63] ERROR c.e.r.utils.SubscriptionUtils - [109] ReportPortal Finish test item execution error
com.epam.reportportal.exception.ReportPortalException: Report Portal returned error
Status code: 400
Status message:
Error Message: Incorrect Request. [Field 'attributes[].value' should have size from '1'

[2021-11-08 13:06] bvpadmanaban commented on #145
what value are you passing in rp.attributes in report portal properties file?

[2021-11-08 13:14] v1-wizard commented on #145
You should go to your Report Portal instance and read logs from API-gateway and find requests with data that produce this error. Look like you start sending data with the size of more than 128 chars in attributes. This is not a problem with Report Portal or serenity-reportportal-integration. This is a sudden limitation and you should fix your data on tests execution.

[2021-11-08 23:55] v1-wizard commented on #145
You could also try this option in your code:
`ReportIntegrationConfig.get().truncateNames(true)`

[2021-11-09 00:35] plokeshwar commented on #145
I am not passing any attributes from reportportal.properties.

[2021-11-09 00:36] plokeshwar commented on #145
Let me try this.

[2021-11-19 10:23] plokeshwar commented on #87
@Invictum unfortunately, I am also getting the same error.  When the tests pass, there is no issue.  But when one of the example test fails, the entire execution is stopped and the below error is thrown.  Also, there is no GivenStories tag being used.  Any help would be greatly appreciated.

Below are the versions and report portal dependency
<serenity.version>2.3.11</serenity.version>
<serenity.r

[2021-11-19 10:36] plokeshwar opened #146 "java.lang.NullPointerException at com.github.invictum.reportportal.SuiteStorage.lambda"
@Invictum When the tests pass, there is no issue. But when one of the example test fails, the entire execution is stopped and the below error is thrown and the report is not published. Also, there is no GivenStories tag being used. Any help would be greatly appreciated.  If I remove the dependency from POM, then the test continues as expected.  Very weird.

Below are the versions and report portal

[2021-11-23 01:34] plokeshwar commented on #146
@Invictum Any suggestion?

[2021-12-16 07:15] plokeshwar commented on #145
@Invictum this looks to be occurring for Scenario Outlines with long scenario descriptions.

[2022-02-16 06:14] plokeshwar opened #147 "Retries are being added as duplicate tests for Serenity 3.1.15 version."
Hi, I just updated my serenity version and see that duplicate report publication gets published in report portal for retries.  See below screenshot.

Let me know, if there is a workaround or any new updated maven version.

<img width="911" alt="image" src="https://user-images.githubusercontent.com/19724726/154206913-75e1641f-c8af-4535-8795-1524dd84ef03.png">

[2022-02-16 06:15] plokeshwar commented on #147
Thanks in advance :)

[2022-02-21 02:30] plokeshwar commented on #147
Any help would be really appreciated.  Thanks

[2022-05-31 07:44] ntthaibk opened #148 "How to emit Log manually?"
Hi, I'm configuring the Log Preset to send as much logs as possible to RP. But can't find anyway to send the information from Logger (INFO,WARN,...) onto RP as well, could you please help me how to parse the log and send it to RP

Thanks

[2022-05-31 12:58] Invictum commented on #148
@ntthaibk
You can try to use one of the [loggers](https://github.com/orgs/reportportal/repositories?q=logger&type=all&language=java&sort=) option provided by RP. Exact module depends on underlying logging system you are using in your project.

[2022-06-03 06:53] ntthaibk commented on #148
I think serenity is using Log back, but I've appended it to logback.xml but there's nothing posted to RP :(

btw, I've try to call ReportPortal.emitLog directly, but still can't emit that log to RP, do I need to create Log Preset Unit for the emit as well?

[2022-09-20 11:10] huongkhuongit opened #150 "Auto generate skip testcase"
![image](https://user-images.githubusercontent.com/82049341/191242621-9018b246-5b57-42c6-b8d2-650b42c1b3e8.png)
Hi everyone, I got a problem. When I got a fail testcase, reportportal allways generate a skip testcase. So how can I fix it?

[2022-09-20 11:12] huongkhuongit commented on #150
I using:
        <dependency>
            <groupId>com.github.invictum</groupId>
            <artifactId>serenity-reportportal-integration</artifactId>
            <version>1.5.7</version>
        </dependency>
        <serenity.version>3.0.5</serenity.version>
        <serenity.maven.version>3.0.5</serenity.maven.version>
        <serenity.cucumber.version>3.0.5</serenity.cucumber.version>

[2022-09-22 04:26] huongkhuongit opened #151 "How to convert error test case in serenity to failure test case in rp?"
**How to convert error test case in serenity to failure test case in rp?**
So error testcase will become skip testcase in rp. I can't see any step in skip testcase.
**How can I see step in skip test case or some thing like that?**
![image](https://user-images.githubusercontent.com/82049341/191658306-4e77ade9-17a4-4c02-b4b6-324917dbab2a.png)

[2022-10-04 11:43] aprado94 opened #152 "Tag visualisation for Scenario Outline examples in Report Portal Tool"
I am using Serenity with Cucumber and what I am trying to do is dividing the scenario examples with different tags like in the following image:

![image](https://user-images.githubusercontent.com/50696508/193796766-d1ca4cd7-5c72-448a-b735-d8952ff3a2d4.png)

When the tests are uploaded to the Report Portal something strange seems to be happening related to the tag management. In my scenario outline

[2022-10-17 07:52] Vishnu-2810 opened #153 "Add options to compare any two builds"

[2022-10-17 07:56] Vishnu-2810 commented on #153
The existing option compares all the nearest builds ...But can you provide any option that will be able to compare any two specific builds which the user prefer.

[2022-10-17 07:56] #153 closed, assigned to nobody